@use '../1-basics/variables'

.btn
    border-radius: 4px
    margin-top: 10px
    margin-left: auto
    margin-right: auto
    display: block
    font-family: Helvetica
    font-style: normal
    text-align: center
    filter: drop-shadow(0px 2px 2px)

//@DEV: this is for different button variants//
.primary
    color: white
    background-color: $primary
    border-color: $primary //to avoid grey border - border is coming from class 'btn'//

.secondary
    background-color: $secondary
    color: white
    border-color: $secondary //to avoid grey border - border is coming from class 'btn'//

.default
    background-color: $grey-1
    color: $grey-2

.outlined
    background-color: Transparent
    filter: none
    border: 0.5px solid #FFFFFF
    color: white

//@DEV: this is for different button sizes///import css-variables from//
.medium
    height: 40px
    width: 334px
    font-size: 16px
    line-height: 18px
    font-weight: bold
    letter-spacing: 1px

.small
    width: 165px
    height: 40px
    font-size: 12px
    line-height: 14px
    font-weight: bold
    letter-spacing: 1px