.buy-modal-container
    overflow: hidden
    position: relative


.buy-modal
    position: absolute
    width: 334px
    left: 0
    right: 0
    margin-right: auto
    margin-left: auto
    overflow-y: auto
    overflow-x: hidden
    outline: none  //this is to hide focused outline on BuyModal//
    .MuiCard-root
        margin-left: auto
        margin-right: auto
        width: 334px
        height: 470px
        margin-top: 75px
        background: linear-gradient(to bottom right, #343434, #151515)
        border-radius: 10px
        text-align: center
        .header
            display: flex
            align-items: center
            justify-content: space-between
            h4
                font-size: 20px
                font-weight: 350
                color: white
        img
            height: 240px
            width: 240px
            margin: 8%  
            border: 2px solid #343434  
            border-radius: 2px
            box-shadow: 2px 4px 4px   
        .token-data
            h4 
                margin-top: 2px
                color: white
                text-align: left
                margin-bottom: 0px
            span
                display: flex
                justify-content: space-between
                align-items: center
                p 
                    font-size: 12pt
                    color:  #979797

    .actions
        button
            margin-top: 30px
            filter: none

//to make BuyModal look better on mobile -same size as other cards
@media screen and ( max-width: 450px )
    .buy-modal
        .MuiCard-root
            margin-top: 25px 
            overflow-y: scroll
       
            
    