// @DEV: this is what handles overlapping of two cards to create AuctionCard (Main card and learn mmoore section)//
.card-panel
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: 1fr
    grid-template-areas: 'overlap'

.sale-card
    width: 334px
    height: 470px
    // margin-top: 30px
    margin-left: auto
    margin-right: auto
    background: linear-gradient(to bottom right, #343434, #151515)
    border-radius: 10px !important
    grid-area: overlap
    text-align: center
    z-index: 2
    h4 
        color: white
        margin: 0px
        text-align: left
        font-size: 16px
    .card-header
        display: flex
        justify-content: space-between
        align-items: center
        .dutch-swap-logo
            img
                height: 50px
                width: 50px
                box-shadow: none
                border: none
                margin-top: 0px 
                margin-bottom: 0px  
        .card-title
            display: block
            text-align: left
            margin-top: 20px
            margin-left: 15px
            margin-right: 15px
            h3
                color: white
                margin: 0px
                display: inline-block 
             
    p  
        color: #979797
        margin: 0px
        font-size: 12px
        font-weight: 400
        line-height: 18px
        margin-top: 5px
        margin-left: 15px
        margin-right: 15px 
        text-align: left
    img 
        height: 240px
        width: 240px
        margin: 8%  
        border: 2px solid #343434  
        border-radius: 2px
        box-shadow: 2px 4px 4px   
     
// ---------------------------------------------------------------------------------------------------//
.card-data
    h4 
        margin-left: 15px 
    span
        display: flex
        justify-content: space-between
        p 
            font-size: 12pt
        .dynamic-pricing-icon
            margin-bottom: 36px
            .fa-question-circle
                color: #FF6400

.learn-more-section
    width: 334px
    margin-left: auto
    margin-right: auto
    text-align: left
    background-color: #F2F2F2
    height: 90px
    border-radius: 10px
    grid-area: overlap
    margin-top: 470px
    p
        margin-top: 40px
        margin-bottom: 0px
        margin-left: 20px
        font-style: normal
        font-weight: normal
        font-size: 12px
        line-height: 20px
        letter-spacing: 1px
        &:nth-of-type(2)
            margin-top: 0px
            font-weight: 700
            font-style: normal


.learn-more-button
    background-color: #F2F2F2
    color: #FF6400
    font-size: 9pt
    margin-top: 0%
    margin-right: 8px !important
    font-weight: bold
    border: none

