//These is for mobile footer built using react-swipeable-bottom-sheet//
.swipeable-footer
    background: linear-gradient(269.5deg, $secondary 0%, $primary 100%)
    border: 0.5px solid #FFFFFF
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25)
    .nugget
        width: 13px
        height: 3px
        background-color: white
        margin-left: auto
        margin-right: auto
        margin-top: 5px
    .MuiSvgIcon-root
        width: 100%
        color: white
        text-align: center
        margin-left: auto
        margin-right: auto
        margin-top: 5px
    p
        color: white
        margin-top: 52px
        margin-left: 25px 
        font-family: Helvetica
        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 14px
        letter-spacing: 0.625px
        &:nth-of-type(2)
            margin-top: 20px 
            margin-bottom: 20px
            font-family: Helvetica
            font-style: normal
            font-weight: normal
            font-size: 16px
            line-height: 14px
            letter-spacing: 0.625px
    .subscribe-section
        text-align: center
        margin-left: 20px
        margin-right: 20px
        input
            width: 332px
            height: 40px
            border: none
            text-indent: 10px
        button
            width: 332px
    .social-media-handle
        margin-right: auto
        margin-left: auto
        margin-top: 38px
        display: flex
        align-items: center