.value-input
    input
        width: 35px
        height: 30px
        -webkit-appearance: none
        border: none
        text-align: center
    button
        background-color: white
        width: 30px
        height: 32px
        -webkit-appearance: none
        border: none
        &:nth-of-type(1)
            border-radius: 4px 0px 0px 4px
        &:nth-of-type(2)
            border-radius: 0px 4px 4px 0px
            
            
    