.home-page
    margin-top: 50px
    position: relative
    margin-bottom: 120px

// @DEV: this is what handles overlapping of two cards to create AuctionCard (Main card and learn mmoore section)//
.card-panel
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: 1fr
    grid-template-areas: 'overlap'

.MuiCard-root
    width: 334px
    height: 470px
    // margin-left: auto
    // margin-right: auto
    margin-top: 30px
    background: linear-gradient(to bottom right, #343434, #151515)
    border-radius: 10px !important
    grid-area: overlap
    text-align: center
    z-index: 2
    h4 
        color: white
        margin: 0px
        text-align: left
        font-size: 16px
    .card-header
        display: flex
        justify-content: space-between
        align-items: center
        .dutch-swap-logo
            img
                height: 50px
                width: 50px
                box-shadow: none
                border: none
                margin-top: 0px 
                margin-bottom: 0px  
        .card-title
            display: block
            text-align: left
            margin-top: 25px
            margin-left: 25px
            margin-right: 25px
            h3
                color: white
                margin: 0px
                display: inline-block 
             
    p  
        color: #979797
        margin: 0px
        font-size: 12px
        font-weight: 400
        line-height: 18px
        margin-top: 5px
        margin-left: 25px
        margin-right: 25px !important
        text-align: left
    img 
        height: 240px
        width: 240px
        margin: 8%  
        border: 2px solid #343434  
        border-radius: 2px
        box-shadow: 2px 4px 4px   
     
// ---------------------------------------------------------------------------------------------------//
.card-data
    h4 
        margin-left: 25px !important
    span
        display: flex
        justify-content: space-between
        .dynamic-pricing-icon
            margin-bottom: 36px
            .fa-question-circle
                color: #FF6400

.learn-more-section
    width: 334px
    margin-left: auto
    margin-right: auto
    text-align: left
    background-color: #F2F2F2
    height: 90px
    border-radius: 10px
    grid-area: overlap
    margin-top: 470px
    p
        margin-top: 40px
        margin-bottom: 0px
        margin-left: 20px
        font-style: normal
        font-weight: normal
        font-size: 12px
        line-height: 20px
        letter-spacing: 1px
        &:nth-of-type(2)
            margin-top: 0px
            font-weight: 700
            font-style: normal


.learn-more-button
    background-color: #F2F2F2
    color: #FF6400
    font-size: 9pt
    margin-top: 0%
    margin-right: 8px !important
    font-weight: bold
    border: none

.actions
    width: 374px
    display: grid
    margin: auto
    text-align: center
    margin-top: 10px

.buy-btn, .withdraw-btn
    color: white !important
    width: 374px 
    height: 40px 
    text-transform: none !important

.coming-soon-actions
    display: flex
    justify-content: space-between
    button 
        width: 185px
        height: 40px
        margin-top: 10px
        color: #979797
        text-transform: none !important
        background-color: #F2F2F2
            

// this is for snackbar/alert// 
.MuiAlert-root
    opacity: 80%
    background-color: white !important

// auction-card class used as massking layer//
.auction-card-mask
    background-color: white
    width: 374px
    height: 540px
    position: absolute
    margin-left: auto
    margin-right: auto
    margin-top: 30px
    left: 0
    right: 0
    border-radius: 8px
    text-align: center
    opacity: 20%
    z-index: 3

.auction-text
        width: 271.94px
        height: 37.46px
        position: absolute
        margin-left: auto
        margin-right: auto
        top: 850px
        left: 0
        right: 0
        font-family: Helvetica
        font-style: normal
        font-weight: bold
        font-size: 48px
        line-height: 40px
        text-align: center
        letter-spacing: 1px
        color: #FF0000
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25)
        transform: rotate(-30deg)

    

