.landing-page
    background-image: url('../assets/DFP_CoverArt.png')
    height: 100vh
    width: 100vw
    background-repeat: no-repeat
    background-size: cover
    section
        position: absolute
        height: 95%
        width: 96%
        left: 0
        right: 0
        margin-left: auto
        margin-right: auto
        top: 25px
        background-color: black
        opacity: 0.8
        // mix-blend-mode: pass-through
        nav
            display: flex
            flex-direction: row
            align-items: center
            list-style-type: none
            width: 280px
            height: 30px
            position: absolute
            left: calc(50% - 280px/2)
            top: 20px
            justify-content: space-between
            li
                color: white
                font-family: Avenir
                font-style: normal
                font-weight: 900
                font-size: 12px
                line-height: 18px
                letter-spacing: 0.5px
        .hero
            position: absolute
            width: 70%
            height: 692px
            top: 50px
            // background-color: red
            p
                color: white
                font-family: Avenir
                font-style: normal
                font-weight: 900
                text-transform: uppercase
                width: 100%
                text-align: center
                letter-spacing: 0.5px
                &:nth-of-type(1)
                    font-size: 180px
                    margin-top: 80px
                    margin-bottom: 0px
                    line-height: 166px
                &:nth-of-type(2)
                    font-size: 100px
                    margin-top: 80px
                    z-index: 5
            img
                position: absolute
                width: 450px
                height: 500px
                padding: 0px
                top: 8%
                left: calc(50% - 450px/2)
                z-index: 1
