@use '../1-basics/variables'

// .landing-page
//     background-image: url('../../assets/bg.png')

//@DEV: styling is done sectionally //

//this targets section 1//
.landing-page
    section
        width: 100%
        &:nth-of-type(1)
            position: absolute
            height: 915px
            left: 0px
            top: 0px
            .header
                margin-top: 45px
                width: 100%
                display: flex
                align-items: center
                justify-content: right
                .MuiButton-root
                    width: 160px
                    height: 50px
                    background-color: white
                    border-radius: 15px
                    margin-right: 2%
                    text-align: center
                    &:nth-of-type(1)
                        font-size: 16px
                        font-weight: bold
                        color: $dicord-purple
                        i
                            color: $dicord-purple//applying color to the icon//
                            padding-right: 5px
                    &:nth-of-type(2)
                        font-size: 16px
                        font-weight: bold
                        color: $dp-purple
            .hero
                display: flex
                height: 80%
                width: 100%
                // justify-content: right
                p
                    &:nth-of-type(1)
                        position: absolute
                        font-size: 11em
                        top: 140px
                        margin-left: 150px
                        font-weight: bold
                        -webkit-text-stroke: 5px white
                        color: rgba(0, 0, 0, 0.1)
                    &:nth-of-type(2)
                        position: absolute
                        top: 490px
                        margin-left: 500px
                        font-size: 1.5em
                        font-weight: bold
                        color: white

// //this targets section 2 //
.landing-page
    section
        &:nth-of-type(2)
            height: 1230px
            position: absolute
            top: 915px
            img
                position: absolute
                width: 772px
                height: 654px
                top: 150px
                margin-left: auto
                margin-right: auto
                left: 0px
                right: 0px
                text-align: center

// //this targets section 3 //
.landing-page
    section
        &:nth-of-type(3)
            position: absolute
            height: 1800px
            top: 2000px
            span
                &:nth-of-type(1)
                    display: block
                    // width: 50%
                    width: 100%
                    height: 123px
                    margin-top: 554px
                    text-align: right
                    p
                        color: white
                        font-size: 26px
                        font-weight: 700
                        margin-right: 50%
                &:nth-of-type(2)
                    display: block
                    width: 100%
                    .MuiLinearProgress-root
                        width: 420px
                        float: right
                        height: 35px
                        border: 4px solid white
                        background-color: rgba(0, 0, 0, 0.1)
                        margin-right: calc(50% + 10px)
                        margin-top: 25px
                        .MuiLinearProgress-bar
                            background-color: white
                    button
                        height: 60px
                        width: 200px
                        font-size: 20px
                        font-weight: 700
                        letter-spacing: 1
                        color: $dp-purple
                        position: absolute
                        top: 800px
                        right: calc(50% + 12px) //this will re-written in a better way later on//
                &:nth-of-type(3)
                    display: block
                    width: 100%
                    text-align: right
                    article
                        color: white
                        // margin-left: calc(25% )
                        margin-right: calc(50% + 25px)
                        // margin-left: calc(50% - 420px)
                        // width: 420px
                        &:nth-of-type(1)
                            font-size: 26px
                            font-weight: 800
                            margin-top: 540px
                        &:nth-of-type(2)
                            font-size: 22px
                            font-weight: 700
                            margin-top: 140px
                        &:nth-of-type(3)
                            background-color: green
                            width: 35%
                            margin-left: calc( 25% + 50px )// to make card align with text above //
                            margin-top: 85px
                            display: flex
                            // justify-content: space-between
                            align-items: center
                            img
                                height: 280px
                                width: 20%
                                min-width: 450px
                            label
                                // float: right
                                width: 200px
                                height: 40px
                                color: black
                                background-color: white
                                text-align: center
                                line-height: 40px
                                font-size: 20px
                                font-weight: 700

//This targets section 4//
.landing-page
    section
        &:nth-of-type(4)
            height: 980px
            position: absolute
            top: 4000px
            span
                display: block
                margin-left: calc( 50% - 455px)
                article
                    // margin-left: calc(50% - 620px)
                    // margin-left: calc( 25% + 35px)
                    p
                        color: white
                    &:nth-of-type(1)
                        margin-top: 180px
                        p
                            &:nth-of-type(1)
                                font-size: 24px
                                font-weight: 700
                            &:nth-of-type(2)
                                font-size: 18px
                                font-weight: 600
                    &:nth-of-type(2)
                        margin-top: 55px
                        p
                            font-size: 20px
                            font-weight: 400
                            &:nth-of-type(2)
                                margin-top: 50px
                            &:nth-of-type(4)
                                margin-top: 60px
                    &:nth-of-type(3)
                        margin-top: 90px
                        width: 650px
                        p
                            font-size: 20px
                            line-height: 1.5
                            font-weight: 100
                            &:nth-of-type(2)
                                margin-top: 80px
                                margin-bottom: 134px

//  this is for section 5  //
.landing-page
    section
        &:nth-of-type(5)
            position: absolute
            height: 510px
            top: 5000px
            display: flex
            span
                display: flex
                height: 120px
                width: 480px
                margin-right: auto
                margin-left: auto
                margin-top: 140px
                justify-content: space-between
                align-items: center
                button
                    background-color: white
                    height: 80px
                    width: 210px
                    border-radius: 28px
                    display: flex
                    align-items: center
                    justify-content: center
                    font-weight: 500
                    font-size: 26px
                    &:nth-of-type(1)
                        color: $dicord-purple
                        i
                            color: $dicord-purple
                            margin-right: 10px
                    &:nth-of-type(2)
                        color: black
                        i
                            color: $tg-blue
                            margin-right: 10px

//Media Queries go here-------------------------------------------------------------------------------------------------------------------------------//
// @DEV: media queries at these viewports to balance the poor design and keep it looking good and responsiveness until it's refreshed //
@media screen and ( max-width: 950px )
    .landing-page
        section
            &:nth-of-type(1)
                .hero
                    p
                        &:nth-of-type(1)
                            font-size: 9em
                            margin-left: 80px
                        &:nth-of-type(2)
                            font-size: 24px
                            margin-left: 290px
            //for responsiveness of text in section 4//
            &:nth-of-type(4)
                span
                    margin-left: 100px
                    margin-right: 50px
                    article
                        &:nth-of-type(3)
                            margin-top: 20px
