.landing-page
    background: url('../assets/DFP_CoverArt.png') no-repeat center center fixed
    height: 100vh
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover
    z-index: 1
    .opaque-wrapper
        position: absolute
        height: 96%
        width: 96%
        left: 0
        right: 0
        margin-left: auto
        margin-right: auto
        top: 0
        bottom: 0
        margin-top: auto
        margin-bottom: auto
        background-color: black
        opacity: 0.8
        z-index: 2
        // mix-blend-mode: darken
    nav
        display: flex
        flex-direction: row
        align-items: center
        list-style-type: none
        width: 280px
        height: 30px
        position: absolute
        left: calc(50% - 280px/2)
        top: max(2%, 35px)
        justify-content: space-between
        z-index: 3
        li
            color: white
            font-family: 'Nunito Sans', sans-serif
            font-style: normal
            font-weight: 900
            font-size: 14px
            line-height: 18px
            letter-spacing: 0.5px
    .hero
        position: absolute
        width: 70%
        height: 692px
        // top: 50px
        left: 0
        right: 0
        margin-left: auto
        margin-right: auto
        // z-index: 3
        // background-color: red
        p
            position: absolute
            color: white
            font-style: normal
            text-transform: uppercase
            width: 100%
            text-align: center
            letter-spacing: 0.5px
            z-index: 3
            &:nth-of-type(1)
                font-family: 'Nunito Sans', sans-serif
                //this is to keep it scalable in both small and large viewports//
                font-size: min(12em, 18vw)
                margin-top: max(2%, 120px)
                margin-bottom: 0px
                top: 0px
                z-index: 3
                // line-height: 166px
            &:nth-of-type(2)
                position: absolute
                font-family: 'Lato', sans-serif !important
                font-size: min(6em, 10vw)
                top: 38%
                z-index: 6
        img
            position: absolute
            padding: 0px
            width: 400px
            height: 500px
            top: auto
            left: 0
            right: 0
            margin-left: auto
            margin-right: auto
            margin-top: 60px
            z-index: 5

// Media queries// 

@media screen and ( max-width:900px)
    .hero
        img
            width: 350px !important
            height: 400px !important
            margin-top: 90px !important
        p
            &:nth-of-type(2)
                top: 34%

            // background-color: red

@media screen and ( max-width: 650px )
    .hero
        img
            width: 300px !important
            height: 350px !important
            margin-top: 80px !important
        p
            &:nth-of-type(2)
                top: 230px !important

// @media screen and ( max-width: 500px )
//     .hero
//         img
//             width: 200px !important
//             height: 250px !important
//             margin-top: 80px !important
//         p
//             &:nth-of-type(2)
//                 top: 190px !important

@media screen and ( max-width: 415px )
    .hero
        img
            width: 180px !important
            height: 200px !important
            margin-top: 100px !important
        p
            &:nth-of-type(2)
                top: 180px !important
