html, body
    height: 100%
    
body 
    font-family: Arial, Helvetica, sans-serif
    overflow-x: hidden
    // overflow-y: hidden

.App
    height: 100%

*:focus 
    outline: none


a
    text-decoration: none

@media screen and ( max-width: 450px )
    body::-webkit-scrollbar
        display: none
    