.buy-modal
    height: 100vh 
    margin: 0px
    width: 99vw
    padding-top: 15vh
    
    h4 
        font-weight: bold
    .MuiCard-root
        text-align: center
        margin: auto
        max-height: 650px
    .data-indicator
        margin-top: 4vh
        width: 390px
        display: flex
        justify-content: space-between
        p
            font-size: 12pt
            color: white
    .value-input
        width: 50% !important
        // input 
        //     width: 7vw !important
        //     height: 0.2vh !important
        //     color: white
        //     border: 1px solid
    .actions
        .buy-button
            background-color: #FF6400
            color: white
            text-transform: none
            font-weight: bold
        .cancel-button
            margin-top: 1vh
            background-color: white
            color: #FF6400 
            font-weight: bold
            text-transform: none

@media screen and (min-width: 700px) and ( max-width: 900px )
    .data-indicator
        width: 120% !important
        p 
            font-size: 15pt
            font-weight: bold

@media screen and (min-width: 400px) and ( max-width: 699px )
    .data-indicator
        width: 135% !important

@media screen and ( max-width:  399px)
    .data-indicator
        width: 135% !important