.buy-modal
    margin: auto
    outline: none
    &:focus
        outline: none !important
    .MuiCard-root
        width: 374px
        height: 470px
        margin-top: 75px
        background: linear-gradient(to bottom right, #343434, #151515)
        border-radius: 10px
        text-align: center
        h4 
            font-weight: bold
        .header
            display: flex
            align-items: center
            justify-content: space-between
        .data-indicator
            display: flex
            justify-content: space-between
            align-items: center
            p
                font-size: 12pt
                color: white
            .value-input
            input 
                width:  80px
                height: 38px
                border-radius: 10px
                border: none
    .actions
        .buy-button
            background-color: #FF6400 !important
            color: white
            width: 374px 
            height: 40px
            text-transform: none 