.buy-modal
    width: 374px
    height: 470px
    margin-left: auto
    margin-right: auto
    margin-top: 50px
    background: linear-gradient(to bottom right, #343434, #151515)
    border-radius: 10px !important
    .MuiCard-root
        text-align: center
        h4 
            font-weight: bold
        .header
            display: flex
            align-items: center
            justify-content: space-between
    .data-indicator
        margin-top: 4vh
        display: flex
        justify-content: space-between
        p
            font-size: 12pt
            color: white
    .value-input
        input 
            width: 8vw
            height: 3vh
    .actions
        .buy-button
            background-color: #FF6400
            color: white
            text-transform: none
            font-weight: bold
        // .cancel-button
        //     margin-top: 1vh
        //     background-color: white
        //     color: #FF6400 
        //     font-weight: bold
        //     text-transform: none

// @media screen and (min-width: 700px) and ( max-width: 900px )
//     .data-indicator
//         width: 100% !important
//         p 
//             font-size: 15pt
//             font-weight: bold
//     .value-input
//         input
//             width: 100% !important

// @media screen and (min-width: 400px) and ( max-width: 699px )
//     .data-indicator
//         width: 100% !important
//     .value-input
//         input
//             width: 100% !important

// @media screen and ( max-width:  399px)
//     .data-indicator
//         width: 100% !important
//     .value-input
//         input
//             width: 100% !important