.home-page
    margin: auto
    margin-top: 3vh
    width: 80vw
    text-align: center
    position: relative
    margin-bottom: 120px
        

.card-panel
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: 1fr
    grid-template-areas: 'overlap'

.MuiCard-root
    width: 25vw
    height: 55vh
    margin: auto
    background: linear-gradient(to bottom right, #343434, #151515)
    border-radius: 10px !important
    grid-area: overlap
    z-index: 2
    span
        display: flex
        justify-content: space-between
        // this is div container p tag and image//
        div
            display: flex
            align-items: center
            p 
                margin-right: 5px !important
            img 
                height: 12px
                width: 12px
                float: right
                margin: 0px
            
    h4 
        color: white
        margin: 0px
        text-align: left
        font-size: 16px
    h3
        color: white
        margin: 0px
        text-align: left
    p  
        color: #979797
        margin: 0px
        font-size: 14px
        font-weight: 400
        line-height: 18px
        text-align: left
    img 
        height: 65%
        width: 65% 
        margin: 8%        

.learn-more-section
    width: 25vw
    margin: auto
    text-align: left
    background-color: #F2F2F2
    height: 10vh
    border-radius: 10px
    grid-area: overlap
    margin-top: 60vh
    p
        padding: 5%
        font-weight: bold
        font-size: 12px
    a 
        color: #FF6400

.actions
    width: 25vw
    display: grid
    padding: 1%
    margin: auto
    margin-top: 1%
    text-align: center

.buy-btn
    color: white !important
    width: 100% !important
    text-transform: none !important

.coming-soon-actions
    width: 100% 
    margin-top: 2%
    display: flex
    justify-content: space-between
    button 
        width: 48%
        color: #979797
        text-transform: none !important
        background-color: #F2F2F2

// for tablet//
@media screen and (min-width: 700px) and ( max-width: 900px )
    .home-page
        margin-top: 5vh
    .MuiCard-root
        width: 70vw
        height: 55vh
    .learn-more-section
        width: 70vw
    .actions
        width: 70vw
        margin-top: 2%

// for mobile//
@media screen and (min-width: 400px) and ( max-width: 699px )
    .home-page
        width: 80vw
        margin-top: 5vh
    .MuiCard-root
        width: 80vw
        height: 400px
        margin-top: 0px
        margin-top: 5vh
    .learn-more-section
        width: 80vw
        margin-top: 420px
    .actions
        width: 80vw

@media screen and ( max-width:  399px)
    .home-page
         width: 90vw
         margin-top: 7vh
    .MuiCard-root
        width: 90vw
        height: 400px
        margin-top: 1vh
        margin-top: 5vh
    .learn-more-section
        width: 90vw
        margin-top: 420px
        height: 80px
        p 
            line-height: 1
    .actions
        width: 90vw 

