.home-page
    margin: auto
    margin-top: 3vh
    width: 80vw
    text-align: center
    position: relative
    margin-bottom: 120px   

.card-panel
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: 1fr
    grid-template-areas: 'overlap'

.MuiCard-root
    width: 25vw
    height: 58vh
    margin: auto
    background: linear-gradient(to bottom right, #343434, #151515)
    border-radius: 10px !important
    grid-area: overlap
    z-index: 2
    h4 
        color: white
        margin: 0px
        text-align: left
        font-size: 16px
    .card-header
        display: flex
        justify-content: space-between
        align-items: center
        margin: 0px
        padding-top: 0px  
        a 
            height: 25%
            width: 25%
            img
                border: none
                box-shadow: none   
                margin-top: 0px !important
                margin-bottom: 0px !important
    .card-title
        display: block
        text-align: left
        h3
           color: white
           margin: 0px
           display: inline-block 
             
    p  
        color: #979797
        margin: 0px
        font-size: 14px
        font-weight: 400
        line-height: 18px
        text-align: left !important
    img 
        height: 65%
        width: 65% 
        margin: 8%  
        border: 2px solid #343434  
        border-radius: 2px
        box-shadow: 2px 4px 4px    
    .card-data
        span
            display: flex
            justify-content: space-between
            // this is div container p tag and image//
            div
                display: flex
                align-items: center
                p 
                    margin-right: 5px !important
                img 
                    height: 12px
                    width: 12px
                    float: right
                    margin: 0px   
                    box-shadow: none   

.learn-more-section
    width: 25vw
    margin: auto
    text-align: left
    background-color: #F2F2F2
    height: 12vh
    border-radius: 10px
    grid-area: overlap
    margin-top: 60vh
    p
        padding: 5%
        margin-top: 5%
        font-weight: bold
        font-size: 12px
        line-height: 1.6
    a 
        color: #FF6400

.learn-more-button
    background-color: #F2F2F2
    color: #FF6400
    font-size: 9pt
    margin-top: 0%
    font-weight: bold
    border: none

.actions
    width: 25vw
    display: grid
    padding: 1%
    margin: auto
    margin-top: 1%
    text-align: center

.buy-btn
    color: white !important
    width: 100% !important
    text-transform: none !important

.coming-soon-actions
    width: 100% 
    margin-top: 2%
    display: flex
    justify-content: space-between
    button 
        width: 48%
        color: #979797
        text-transform: none !important
        background-color: #F2F2F2

// this is for snackbar/alert// 
.MuiAlert-root
    opacity: 80%
    background-color: white !important

// for tablet//
@media screen and (min-width: 700px) and ( max-width: 900px )
    .home-page
        margin-top: 5vh
    .MuiCard-root
        width: 70vw
        height: 55vh
    .learn-more-section
        width: 70vw
        height: 8vh
    .actions
        width: 70vw
        margin-top: 2%

// for mobile//
@media screen and (min-width: 400px) and ( max-width: 699px )
    .home-page
        width: 80vw
        margin-top: 5vh
    .MuiCard-root
        width: 80vw
        height: 400px
        margin-top: 0px
        margin-top: 5vh
    .learn-more-section
        width: 80vw
        margin-top: 420px
        height: 10vh
    .actions
        width: 80vw

@media screen and ( max-width:  399px)
    .home-page
         width: 90vw
         margin-top: 7vh
    .MuiCard-root
        width: 90vw
        height: 400px
        margin-top: 1vh
        margin-top: 5vh
    .learn-more-section
        width: 90vw
        margin-top: 420px
        height: 70px
        padding: 1%
        p 
            line-height: 1.4
    .actions
        width: 90vw 

