.dynamic-pricing-modal
    height: 85vh !important
    margin-top: 10vh !important
    width: 30vw !important
    margin: auto
    z-index: 5 !important
    background-color: white
    border-radius: 10px
    padding-left: 2%
    padding-right: 2%
    .header
        display: flex
        align-items: center
        justify-content: space-between
        p 
            font-weight: bold
    .dynamic-pricing-modal-content
        h4
            font-size: 12pt !important
            margin: 0px
        p 
            font-size: 10pt
        a 
            color: #006FFF
        

