.MuiAppBar-root
    max-height: 74px

.MuiToolbar-root
    display: flex
    justify-content: space-between
    align-items: center
    max-height: 74px
    .brand-logo
        height: 40px
        width: 40px


.brand-header
    display: flex

.nav-options
    display: flex
    button
        text-transform: none !important
        &:nth-of-type(2)
            color: white
            background-color: #FF6400 
            margin-left: 10px
        
            


@media screen and (min-width: 700px) and ( max-width: 900px )

@media screen and (min-width: 400px) and ( max-width: 699px )
    .brand-title
        display: none !important

@media screen and ( max-width:  399px)
    .brand-title
        display: none !important
