.MuiAppBar-root
    height: 10vh

.MuiToolbar-root
    display: flex
    justify-content: space-between
    .brand-logo
        height: 40px
        width: 40px


.brand-header
    display: flex
    align-items: center

.nav-options
    button
        text-transform: none !important


@media screen and (min-width: 700px) and ( max-width: 900px )
    .MuiAppBar-root
        height: 8vh

@media screen and (min-width: 400px) and ( max-width: 699px )
    .MuiAppBar-root
        height: 8vh
    .brand-title
        display: none !important

@media screen and ( max-width:  399px)
    .brand-title
        display: none !important
