.MuiAppBar-root
    height: 10vh

.MuiToolbar-root
    display: flex
    justify-content: space-between

.nav-options
    button
        text-transform: none !important

@media screen and (min-width: 700px) and ( max-width: 900px )
    .MuiAppBar-root
        height: 8vh

@media screen and (min-width: 400px) and ( max-width: 699px )
    .MuiAppBar-root
        height: 8vh
        .MuiTypography-root
            display: none

@media screen and ( max-width:  399px)
    .MuiTypography-root
            display: none
