html, body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  background-color: #262626;
}

.App {
  height: 100%;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

.MuiAppBar-root {
  height: 75px;
}

.MuiToolbar-root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}
.MuiToolbar-root .brand-logo {
  height: 40px;
  width: 40px;
}

.brand-header {
  display: flex;
}

.nav-options {
  display: flex;
}
.nav-options button {
  text-transform: none !important;
}
.nav-options button:nth-of-type(2) {
  color: white;
  background-color: #006FFF;
  margin-left: 10px;
}

@media screen and (min-width: 400px) and (max-width: 699px) {
  .brand-title {
    display: none !important;
  }
}
@media screen and (max-width: 399px) {
  .brand-title {
    display: none !important;
  }
}
.btn {
  border-radius: 4px;
  margin-top: 10px;
  display: block;
  font-family: Helvetica;
  font-style: normal;
  text-align: center;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  border: none;
}

.primary {
  color: white;
  background-color: #FF6400;
  border-color: #FF6400;
}

.secondary {
  background-color: #006FFF;
  color: white;
  border-color: #006FFF;
}

.default {
  background-color: #F2F2F2;
  color: black;
}

.outlined {
  background-color: Transparent;
  filter: none;
  border: 0.5px solid #FFFFFF;
  color: white;
}

.disabled {
  background-color: #F2F2F2;
  color: #979797;
}

.outlined-disabled {
  background-color: Transparent;
  filter: none;
  border: 0.5px solid #979797;
  color: #979797;
}

.medium {
  height: 40px;
  width: 334px;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  letter-spacing: 1px;
}

.small {
  width: 160px;
  height: 40px;
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}

.card-panel {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "overlap";
}

.sale-card {
  width: 334px;
  height: 470px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(to bottom right, #343434, #151515);
  border-radius: 10px !important;
  grid-area: overlap;
  text-align: center;
  z-index: 2;
}
.sale-card h4 {
  color: white;
  margin: 0px;
  text-align: left;
  font-size: 16px;
}
.sale-card .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sale-card .card-header .dutch-swap-logo img {
  height: 50px;
  width: 50px;
  box-shadow: none;
  border: none;
  margin-top: 0px;
  margin-bottom: 0px;
}
.sale-card .card-header .card-title {
  display: block;
  text-align: left;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
}
.sale-card .card-header .card-title h3 {
  color: white;
  margin: 0px;
  display: inline-block;
}
.sale-card p {
  color: #979797;
  margin: 0px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: left;
}
.sale-card img {
  height: 240px;
  width: 240px;
  margin: 8%;
  border: 2px solid #343434;
  border-radius: 2px;
  box-shadow: 2px 4px 4px;
}

.card-data h4 {
  margin-left: 15px;
}
.card-data span {
  display: flex;
  justify-content: space-between;
}
.card-data span p {
  font-size: 12pt;
}
.card-data span .dynamic-pricing-icon {
  margin-bottom: 36px;
}
.card-data span .dynamic-pricing-icon .fa-question-circle {
  color: #FF6400;
}

.learn-more-section {
  width: 334px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  background-color: #F2F2F2;
  height: 70px;
  border-radius: 10px;
  grid-area: overlap;
  margin-top: 470px;
}
.learn-more-section p {
  margin-bottom: 0px;
  margin-left: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1px;
}
.learn-more-section p:nth-of-type(1) {
  font-size: 11px;
}
.learn-more-section p:nth-of-type(2) {
  margin-top: 0px;
  font-weight: 700;
  font-style: normal;
}

.learn-more-button {
  background-color: #F2F2F2;
  color: #FF6400;
  font-size: 9pt;
  margin-top: 0%;
  margin-right: 8px !important;
  font-weight: bold;
  border: none;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 155px;
  background: linear-gradient(to right, #FF6400, #006FFF);
  z-index: 3;
}
footer p {
  margin-top: 30px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.625px;
  color: #FFFFFF;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
}
footer span {
  position: absolute;
  left: calc(50% - 172px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}
footer span input {
  width: 334px;
  height: 40px;
  background: #FFFFFF;
  border: 0.1px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding-left: 10px;
}
footer span ::placeholder {
  width: 170px;
  height: 18px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.625px;
  color: #343434;
}
footer span button {
  margin-left: 10px;
  margin-top: 0px !important;
}

.fab {
  color: white;
  font-size: 26px;
  margin-left: 12px;
  cursor: pointer;
}

.social-media-handle {
  width: 190px;
  height: 24px;
}

.web3-signIn {
  margin-top: 60px;
}
.web3-signIn .MuiCard-root {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 600px;
  outline: none;
}
.web3-signIn .MuiCard-root span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.web3-signIn .MuiCard-root span p {
  font-size: 24px;
  font-style: bold;
  font-weight: 400;
}

.wallet-connectors {
  margin-top: 35px;
  text-align: center;
}
.wallet-connectors button {
  margin-top: 10px !important;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  height: 50px;
  font-size: 17px;
  font-weight: 350;
  opacity: 0.8;
}
.wallet-connectors button:hover {
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .web3-signIn .MuiCard-root {
    width: 380px;
  }
}
.buy-modal-container {
  overflow: hidden;
  position: relative;
}

.buy-modal {
  position: absolute;
  width: 334px;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  overflow-y: auto;
  overflow-x: hidden;
  outline: none;
}
.buy-modal .MuiCard-root {
  margin-left: auto;
  margin-right: auto;
  width: 334px;
  height: 470px;
  margin-top: 75px;
  background: linear-gradient(to bottom right, #343434, #151515);
  border-radius: 10px;
  text-align: center;
}
.buy-modal .MuiCard-root .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buy-modal .MuiCard-root .header .title {
  margin-left: 15px;
}
.buy-modal .MuiCard-root .header .title h3 {
  color: white;
  margin-bottom: 0px;
  text-align: left;
}
.buy-modal .MuiCard-root .header .title p {
  color: #979797;
  margin-top: 5px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.buy-modal .MuiCard-root .header .MuiSvgIcon-root {
  color: #FF6400;
}
.buy-modal .MuiCard-root img {
  height: 240px;
  width: 240px;
  border: 2px solid #343434;
  border-radius: 2px;
  box-shadow: 2px 4px 4px;
  margin-bottom: 0px;
  margin-top: 10px;
}

.buy-modal .token-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buy-modal .token-data span {
  margin-left: 15px;
}
.buy-modal .token-data span h4 {
  color: white;
  margin-bottom: 5px;
  text-align: left;
}
.buy-modal .token-data span p {
  color: #979797;
  margin-top: 0px;
  text-align: left;
}
.buy-modal .actions button {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 600px) {
  .buy-modal .MuiCard-root {
    width: 274px;
    height: 360px;
  }
  .buy-modal .MuiCard-root img {
    width: 178px;
    height: 178px;
  }
  .buy-modal .actions button {
    margin-top: 65px;
    width: 274px;
  }
}
.value-input input {
  width: 30px;
  height: 30px;
  -webkit-appearance: none;
  border: none;
  text-align: center;
}
.value-input button {
  background-color: white;
  width: 30px;
  height: 32px;
  -webkit-appearance: none;
  border: none;
}
.value-input button:nth-of-type(1) {
  border-radius: 4px 0px 0px 4px;
}
.value-input button:nth-of-type(2) {
  border-radius: 0px 4px 4px 0px;
}

.swipeable-footer {
  background: linear-gradient(269.5deg, #006FFF 0%, #FF6400 100%);
  border: 0.5px solid #FFFFFF;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
}
.swipeable-footer .nugget {
  width: 13px;
  height: 3px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
.swipeable-footer .MuiSvgIcon-root {
  width: 100%;
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
.swipeable-footer p {
  color: white;
  margin-top: 52px;
  margin-left: 25px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.625px;
}
.swipeable-footer p:nth-of-type(2) {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 14px;
  letter-spacing: 0.625px;
}
.swipeable-footer .subscribe-section {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.swipeable-footer .subscribe-section input {
  width: 340px;
  height: 40px;
  border: none;
  text-indent: 10px;
}
.swipeable-footer .subscribe-section button {
  width: 340px;
}
.swipeable-footer .social-media-handle {
  margin-right: auto;
  margin-left: auto;
  margin-top: 38px;
  display: flex;
  align-items: center;
}

.label-component {
  background-color: white;
  color: grey;
  border-radius: 4px;
  height: 40px;
}
.label-component p {
  height: 100%;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
}

.alert-message {
  margin-top: 70px;
}

.home-page {
  margin-top: 75px;
  background-color: white;
  height: 100vh;
}

.uniswap-card .sale-type {
  color: #FF6400 !important;
}

.pre-sale-card .sale-type {
  color: #006FFF !important;
}
.pre-sale-card .fa-question-circle {
  color: #006FFF !important;
}
.pre-sale-card button:nth-of-type(2) {
  filter: drop-shadow(0px 0px 0px);
}

.dutch-auction-mask {
  position: absolute;
  width: 340px;
  height: 560px;
  z-index: 3;
  background-color: white;
  opacity: 0.2;
}

.dutch-auction-card .card-panel .card-data {
  display: none;
}

.home-page-mobile {
  margin-bottom: 50px;
  height: 100vh;
  background-color: white;
}
.home-page-mobile .sale-card {
  width: 274px;
  height: 360px;
  margin-top: 75px;
}
.home-page-mobile .sale-card img {
  width: 178px;
  height: 178px;
  margin-left: auto;
  margin-right: auto;
}
.home-page-mobile .sale-card .card-title h3 {
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 1px;
}
.home-page-mobile .sale-card .card-data p {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
}
.home-page-mobile button {
  margin-left: auto;
  margin-right: auto;
}

.home-page-mobile .learn-more-section {
  height: 60px;
  width: 274px;
  margin-top: 430px;
}
.home-page-mobile .learn-more-section p {
  margin-top: 10px;
}
.home-page-mobile .learn-more-section p:nth-of-type(2) {
  margin-top: 0px;
}

.sale-carousel section .btn {
  width: 274px;
  height: 40px;
}

.slick-square-dots button {
  margin-top: 12px !important;
  height: 8px !important;
  width: 8px !important;
  background-color: white !important;
  border: 1px solid #343434 !important;
  box-sizing: border-box;
  border-radius: 2px;
}
.slick-square-dots button::before {
  display: none;
}

.slick-square-dots .slick-active button {
  background-color: #343434 !important;
}

.details-page {
  margin-top: 75px;
}

.details-card {
  width: 334px;
  height: 470px;
  background: linear-gradient(to bottom right, #343434, #151515);
  border-radius: 10px !important;
  margin: auto;
}
.details-card .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}
.details-card .header h4 {
  color: white;
}
.details-card .header .MuiSvgIcon-root {
  color: #FF6400;
}

.details-page .actions {
  width: 334px;
  margin-left: auto;
  margin-right: auto;
}
.details-page .actions .coming-soon-actions {
  display: flex;
  justify-content: space-between;
}

.detail-card-data div {
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}
.detail-card-data div p {
  color: white;
  font-size: 10pt;
}

.detail-card-description {
  margin-left: 5%;
  margin-right: 5%;
}
.detail-card-description p {
  color: white;
  margin-top: 10%;
}
.detail-card-description a {
  color: #FF6400;
  font-weight: bold;
}

.landing-page section {
  width: 100%;
}
.landing-page section:nth-of-type(1) {
  position: absolute;
  height: 915px;
  left: 0px;
  top: 0px;
}
.landing-page section:nth-of-type(1) .header {
  margin-top: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}
.landing-page section:nth-of-type(1) .header .MuiButton-root {
  width: 160px;
  height: 50px;
  background-color: white;
  border-radius: 15px;
  margin-right: 2%;
  text-align: center;
}
.landing-page section:nth-of-type(1) .header .MuiButton-root:nth-of-type(1) {
  font-size: 16px;
  font-weight: bold;
  color: #7289DA;
}
.landing-page section:nth-of-type(1) .header .MuiButton-root:nth-of-type(1) i {
  color: #7289DA;
  padding-right: 5px;
}
.landing-page section:nth-of-type(1) .header .MuiButton-root:nth-of-type(2) {
  font-size: 16px;
  font-weight: bold;
  color: #923bca;
}
.landing-page section:nth-of-type(1) .hero {
  display: flex;
  height: 80%;
  width: 100%;
}
.landing-page section:nth-of-type(1) .hero p:nth-of-type(1) {
  position: absolute;
  font-size: 11em;
  top: 140px;
  margin-left: 150px;
  font-weight: bold;
  -webkit-text-stroke: 5px white;
  color: rgba(0, 0, 0, 0.1);
}
.landing-page section:nth-of-type(1) .hero p:nth-of-type(2) {
  position: absolute;
  top: 490px;
  margin-left: 500px;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

.landing-page section:nth-of-type(2) {
  height: 1230px;
  position: absolute;
  top: 915px;
}
.landing-page section:nth-of-type(2) img {
  position: absolute;
  width: 772px;
  height: 654px;
  top: 150px;
  margin-left: auto;
  margin-right: auto;
  left: 0px;
  right: 0px;
}

.landing-page section:nth-of-type(3) {
  position: absolute;
  height: 1800px;
  top: 2000px;
}
.landing-page section:nth-of-type(3) span:nth-of-type(1) {
  display: block;
  width: 100%;
  height: 123px;
  margin-top: 554px;
  text-align: right;
}
.landing-page section:nth-of-type(3) span:nth-of-type(1) p {
  color: white;
  font-size: 26px;
  font-weight: 700;
  margin-right: 50%;
}
.landing-page section:nth-of-type(3) span:nth-of-type(2) {
  display: block;
  width: 100%;
}
.landing-page section:nth-of-type(3) span:nth-of-type(2) .MuiLinearProgress-root {
  width: 420px;
  float: right;
  height: 35px;
  border: 4px solid white;
  background-color: rgba(0, 0, 0, 0.1);
  margin-right: calc(50% + 10px);
  margin-top: 25px;
}
.landing-page section:nth-of-type(3) span:nth-of-type(2) .MuiLinearProgress-root .MuiLinearProgress-bar {
  background-color: white;
}
.landing-page section:nth-of-type(3) span:nth-of-type(2) button {
  height: 60px;
  width: 200px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1;
  color: #923bca;
  position: absolute;
  top: 800px;
  right: calc(50% + 12px);
}
.landing-page section:nth-of-type(3) span:nth-of-type(3) {
  display: block;
  width: 100%;
  text-align: right;
}
.landing-page section:nth-of-type(3) span:nth-of-type(3) article {
  color: white;
  margin-right: calc(50% + 25px);
}
.landing-page section:nth-of-type(3) span:nth-of-type(3) article:nth-of-type(1) {
  font-size: 26px;
  font-weight: 800;
  margin-top: 540px;
}
.landing-page section:nth-of-type(3) span:nth-of-type(3) article:nth-of-type(2) {
  font-size: 22px;
  font-weight: 700;
  margin-top: 140px;
}
.landing-page section:nth-of-type(3) span:nth-of-type(3) article:nth-of-type(3) {
  margin-left: calc( 25%);
  margin-top: 85px;
  display: flex;
  align-items: center;
}
.landing-page section:nth-of-type(3) span:nth-of-type(3) article:nth-of-type(3) img {
  height: 280px;
  width: 500px;
}
.landing-page section:nth-of-type(3) span:nth-of-type(3) article:nth-of-type(3) label {
  min-width: 200px;
  height: 40px;
  color: black;
  background-color: white;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  font-weight: 700;
}

.landing-page section:nth-of-type(4) {
  height: 980px;
  position: absolute;
  top: 4000px;
}
.landing-page section:nth-of-type(4) span {
  display: block;
  margin-left: calc( 50% - 455px);
}
.landing-page section:nth-of-type(4) span article p {
  color: white;
}
.landing-page section:nth-of-type(4) span article:nth-of-type(1) {
  margin-top: 180px;
}
.landing-page section:nth-of-type(4) span article:nth-of-type(1) p:nth-of-type(1) {
  font-size: 24px;
  font-weight: 700;
}
.landing-page section:nth-of-type(4) span article:nth-of-type(1) p:nth-of-type(2) {
  font-size: 18px;
  font-weight: 600;
}
.landing-page section:nth-of-type(4) span article:nth-of-type(2) {
  margin-top: 55px;
}
.landing-page section:nth-of-type(4) span article:nth-of-type(2) p {
  font-size: 20px;
  font-weight: 400;
}
.landing-page section:nth-of-type(4) span article:nth-of-type(2) p:nth-of-type(2) {
  margin-top: 50px;
}
.landing-page section:nth-of-type(4) span article:nth-of-type(2) p:nth-of-type(4) {
  margin-top: 60px;
}
.landing-page section:nth-of-type(4) span article:nth-of-type(3) {
  margin-top: 90px;
  width: 650px;
}
.landing-page section:nth-of-type(4) span article:nth-of-type(3) p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 100;
}
.landing-page section:nth-of-type(4) span article:nth-of-type(3) p:nth-of-type(2) {
  margin-top: 80px;
  margin-bottom: 134px;
}

.landing-page section:nth-of-type(5) {
  position: absolute;
  height: 510px;
  top: 5000px;
  display: flex;
}
.landing-page section:nth-of-type(5) span {
  display: flex;
  height: 120px;
  width: 480px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 140px;
  justify-content: space-evenly;
  align-items: center;
}
.landing-page section:nth-of-type(5) span button {
  background-color: white;
  height: 80px;
  width: 210px;
  border-radius: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 26px;
}
.landing-page section:nth-of-type(5) span button:nth-of-type(1) {
  color: #7289DA;
}
.landing-page section:nth-of-type(5) span button:nth-of-type(1) i {
  color: #7289DA;
  margin-right: 10px;
}
.landing-page section:nth-of-type(5) span button:nth-of-type(2) {
  color: black;
}
.landing-page section:nth-of-type(5) span button:nth-of-type(2) i {
  color: #0088CC;
  margin-right: 10px;
}

@media screen and (max-width: 950px) {
  .landing-page section:nth-of-type(1) .hero p:nth-of-type(1) {
    font-size: 9em;
    margin-left: 80px;
  }
  .landing-page section:nth-of-type(1) .hero p:nth-of-type(2) {
    font-size: 24px;
    margin-left: 290px;
    top: 450px;
  }
  .landing-page section:nth-of-type(3) span:nth-of-type(2) .MuiLinearProgress-root {
    width: 280px;
  }
  .landing-page section:nth-of-type(3) span:nth-of-type(3) article:nth-of-type(3) {
    margin-left: 5%;
  }
  .landing-page section:nth-of-type(4) span {
    margin-left: 100px;
    margin-right: 50px;
  }
  .landing-page section:nth-of-type(4) span article:nth-of-type(3) {
    margin-top: 20px;
  }
}
@media screen and (max-width: 750px) {
  .landing-page section:nth-of-type(1) .hero p:nth-of-type(1) {
    font-size: 7em;
    margin-left: 30px;
  }
  .landing-page section:nth-of-type(1) .hero p:nth-of-type(2) {
    font-size: 22px;
    top: 380px;
    margin-left: 145px;
  }
  .landing-page section:nth-of-type(2) img {
    width: 450px;
    height: 360px;
  }
  .landing-page section:nth-of-type(3) span:nth-of-type(1) p {
    margin-right: 30%;
  }
  .landing-page section:nth-of-type(3) span:nth-of-type(2) .MuiLinearProgress-root {
    width: 350px;
    margin-right: 30%;
  }
  .landing-page section:nth-of-type(3) span:nth-of-type(2) button {
    height: 50px;
    width: 180px;
    right: calc(30% + 2px);
  }
  .landing-page section:nth-of-type(3) span:nth-of-type(3) article {
    margin-right: calc(32% + 2px);
  }
  .landing-page section:nth-of-type(3) span:nth-of-type(3) article:nth-of-type(3) img {
    width: 400px;
  }
  .landing-page section:nth-of-type(3) span:nth-of-type(3) article:nth-of-type(3) label {
    min-width: 110px;
    line-height: 40px;
    font-size: 14px;
    font-weight: 200;
  }
  .landing-page section:nth-of-type(4) article:nth-of-type(3) p:nth-of-type(1) {
    width: 450px;
  }
}
@media screen and (max-width: 550px) {
  .landing-page section:nth-of-type(1) .hero p:nth-of-type(1) {
    font-size: 4em;
    margin-left: 30px;
    -webkit-text-stroke: 3px white;
  }
  .landing-page section:nth-of-type(1) .hero p:nth-of-type(2) {
    font-size: 14px;
    top: 280px;
    margin-left: 70px;
  }
  .landing-page section:nth-of-type(2) {
    height: 600px;
  }
  .landing-page section:nth-of-type(2) img {
    height: 300px;
    width: 350px;
  }
  .landing-page section:nth-of-type(3) {
    top: 1500px;
  }
  .landing-page section:nth-of-type(3) span:nth-of-type(1) p {
    margin-right: 5%;
    font-size: 20px;
  }
  .landing-page section:nth-of-type(3) span:nth-of-type(2) .MuiLinearProgress-root {
    width: 260px;
    margin-right: 7%;
  }
  .landing-page section:nth-of-type(3) span:nth-of-type(2) button {
    right: 7%;
  }
  .landing-page section:nth-of-type(3) span:nth-of-type(3) article {
    margin-right: 5%;
  }
  .landing-page section:nth-of-type(3) span:nth-of-type(3) article:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .landing-page section:nth-of-type(3) span:nth-of-type(3) article:nth-of-type(3) img {
    margin-top: 30px;
  }
  .landing-page section:nth-of-type(3) span:nth-of-type(3) article:nth-of-type(3) label {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
  }
  .landing-page section:nth-of-type(4) {
    top: 3500px;
  }
  .landing-page section:nth-of-type(4) span {
    margin-left: 10%;
  }
  .landing-page section:nth-of-type(4) span article:nth-of-type(3) p:nth-of-type(1) {
    width: 320px;
  }
  .landing-page section:nth-of-type(4) span article:nth-of-type(3) p:nth-of-type(2) {
    margin-top: 40px;
  }
  .landing-page section:nth-of-type(5) {
    top: 4600px;
  }
  .landing-page section:nth-of-type(5) span {
    width: 450px;
  }
  .landing-page section:nth-of-type(5) span button {
    width: 160px;
    height: 50px;
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
