.MuiAppBar-root {
  height: 10vh;
}

.MuiToolbar-root {
  display: flex;
  justify-content: space-between;
}

.brand-logo {
  display: flex;
  align-items: center;
}

.nav-options button {
  text-transform: none !important;
}

@media screen and (min-width: 700px) and (max-width: 900px) {
  .MuiAppBar-root {
    height: 8vh;
  }
}
@media screen and (min-width: 400px) and (max-width: 699px) {
  .MuiAppBar-root {
    height: 8vh;
  }

  .brand-title {
    display: none !important;
  }
}
@media screen and (max-width: 399px) {
  .brand-title {
    display: none !important;
  }
}
.home-page {
  margin: auto;
  margin-top: 3vh;
  width: 80vw;
  text-align: center;
  position: relative;
  margin-bottom: 120px;
}

.card-panel {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "overlap";
}

.MuiCard-root {
  width: 25vw;
  height: 55vh;
  margin: auto;
  background: linear-gradient(to bottom right, #343434, #151515);
  border-radius: 10px !important;
  grid-area: overlap;
  z-index: 2;
}
.MuiCard-root h4 {
  color: white;
  margin: 0px;
  text-align: left;
  font-size: 16px;
}
.MuiCard-root .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding-top: 0px;
}
.MuiCard-root .card-header a {
  height: 25%;
  width: 25%;
}
.MuiCard-root .card-header a img {
  border: none;
  box-shadow: none;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.MuiCard-root .card-title {
  display: block;
  text-align: left;
}
.MuiCard-root .card-title h3 {
  color: white;
  margin: 0px;
  display: inline-block;
}
.MuiCard-root p {
  color: #979797;
  margin: 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left !important;
}
.MuiCard-root img {
  height: 65%;
  width: 65%;
  margin: 8%;
  border: 2px solid #343434;
  border-radius: 2px;
  box-shadow: 2px 4px 4px;
}
.MuiCard-root .card-data span {
  display: flex;
  justify-content: space-between;
}
.MuiCard-root .card-data span div {
  display: flex;
  align-items: center;
}
.MuiCard-root .card-data span div p {
  margin-right: 5px !important;
}
.MuiCard-root .card-data span div img {
  height: 12px;
  width: 12px;
  float: right;
  margin: 0px;
}

.learn-more-section {
  width: 25vw;
  margin: auto;
  text-align: left;
  background-color: #F2F2F2;
  height: 12vh;
  border-radius: 10px;
  grid-area: overlap;
  margin-top: 60vh;
}
.learn-more-section p {
  padding: 5%;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.6;
}
.learn-more-section a {
  color: #FF6400;
}

.actions {
  width: 25vw;
  display: grid;
  padding: 1%;
  margin: auto;
  margin-top: 1%;
  text-align: center;
}

.buy-btn {
  color: white !important;
  width: 100% !important;
  text-transform: none !important;
}

.coming-soon-actions {
  width: 100%;
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
}
.coming-soon-actions button {
  width: 48%;
  color: #979797;
  text-transform: none !important;
  background-color: #F2F2F2;
}

.MuiAlert-root {
  opacity: 80%;
  background-color: white !important;
}

@media screen and (min-width: 700px) and (max-width: 900px) {
  .home-page {
    margin-top: 5vh;
  }

  .MuiCard-root {
    width: 70vw;
    height: 55vh;
  }

  .learn-more-section {
    width: 70vw;
    height: 8vh;
  }

  .actions {
    width: 70vw;
    margin-top: 2%;
  }
}
@media screen and (min-width: 400px) and (max-width: 699px) {
  .home-page {
    width: 80vw;
    margin-top: 5vh;
  }

  .MuiCard-root {
    width: 80vw;
    height: 400px;
    margin-top: 0px;
    margin-top: 5vh;
  }

  .learn-more-section {
    width: 80vw;
    margin-top: 420px;
    height: 10vh;
  }

  .actions {
    width: 80vw;
  }
}
@media screen and (max-width: 399px) {
  .home-page {
    width: 90vw;
    margin-top: 7vh;
  }

  .MuiCard-root {
    width: 90vw;
    height: 400px;
    margin-top: 1vh;
    margin-top: 5vh;
  }

  .learn-more-section {
    width: 90vw;
    margin-top: 420px;
    height: 70px;
    padding: 1%;
  }
  .learn-more-section p {
    line-height: 1.4;
  }

  .actions {
    width: 90vw;
  }
}
.dynamic-pricing-modal {
  height: 85vh;
  width: 30vw;
  max-width: 450px;
  max-height: 600px;
  margin: auto;
  margin-top: 10vh;
  z-index: 5 !important;
  background-color: white;
  border-radius: 10px;
  padding-left: 2%;
  padding-right: 2%;
}
.dynamic-pricing-modal .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dynamic-pricing-modal .header p {
  font-weight: bold;
}
.dynamic-pricing-modal .dynamic-pricing-modal-content {
  margin-top: 4%;
  margin-bottom: 1%;
}
.dynamic-pricing-modal .dynamic-pricing-modal-content h4 {
  font-size: 12pt !important;
  margin: 0px;
}
.dynamic-pricing-modal .dynamic-pricing-modal-content p {
  font-size: 10pt;
}
.dynamic-pricing-modal .dynamic-pricing-modal-content a {
  color: #006FFF;
}

@media screen and (min-width: 700px) and (max-width: 900px) {
  .dynamic-pricing-modal {
    width: 50vw;
    height: 55vh;
  }
}
@media screen and (min-width: 400px) and (max-width: 699px) {
  .dynamic-pricing-modal {
    width: 80vw;
    height: 600px;
  }
}
@media screen and (max-width: 399px) {
  .dynamic-pricing-modal {
    width: 85vw;
    height: 90vh;
    margin-top: 5vh;
  }
}
.details-page {
  margin-top: 12vh;
}
.details-page .actions > button:nth-of-type(2) {
  margin-top: 2%;
}

.detail-card {
  width: 25vw;
  height: 60vh;
  background: linear-gradient(to bottom right, #343434, #151515);
  border-radius: 10px !important;
  margin: auto;
  padding-top: 1%;
}
.detail-card .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}
.detail-card .header h4 {
  color: white;
}
.detail-card .detail-card-section div {
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}
.detail-card .detail-card-section div p {
  color: white;
  font-size: 10pt;
}
.detail-card .detail-card-description {
  margin-left: 5%;
  margin-right: 5%;
}
.detail-card .detail-card-description p {
  color: white;
  margin-top: 10%;
}
.detail-card .detail-card-description a {
  color: #FF6400;
  font-weight: bold;
}

@media screen and (min-width: 700px) and (max-width: 900px) {
  .detail-card {
    width: 70vw;
    height: 45vh;
  }

  .detail-card-description {
    margin-top: 20%;
  }
}
@media screen and (min-width: 400px) and (max-width: 699px) {
  .detail-card {
    width: 80vw;
    height: 450px;
  }

  .detail-card-description {
    margin-top: 25%;
  }
}
@media screen and (max-width: 399px) {
  .detail-card {
    width: 90vw;
    height: 450px;
  }

  .detail-card-description {
    margin-top: 25%;
  }
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
